<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=content-type content="text/html; charset=utf-8">
		<script type="application/javascript" src="vue.js"></script>
		<!-- defer: script is executed when the page has finished parsing -->
		<script type="application/javascript" src="json-discussion.js" defer></script>
		<script type="application/javascript" src="app-ul.js" defer></script>
		<link rel="stylesheet" type="text/css" href="json-discussion.css">
	</head>
	<body>

		<div id="app-ul">
			<div id="drop_zone"
			     ondrop="dropHandler(event);"
			     ondragover="dragOverHandler(event);"
			     v-if="seen_dz"
			     >
				<p>Drag file to this Drop Zone</p>
			</div>

			{{ file_name }}
			<div id="users" v-if="seen_ul">
				<ul id="user_list">
					<li v-for="(item, index) in db_part">
						{{ item }}
						<button v-on:click="delete_user(index)">x</button>
					</li>
				</ul>
				<div id="fake_scroll_bar">
					<button class="fsb_button" id="sb_up" v-on:click="scroll_move(-1)">^</button>
					<button id="sb_position" v-bind:style="{ top: scroll_bar_position + 'px' }" v-on:click="scroll_bar()">K</button>
					<button class="fsb_button" id="sb_down" v-on:click="scroll_move(+1)">v</button>
				</div>
			</div>
		</div>
	</body>
</html>
