#drop_zone {
	width:  200px;
	height: 100px;
	outline: dashed;
	transition: outline 0.6s linear;
	margin: 0.5em; /* Increased margin since the outline expands outside the element */
}

#drop_zone:hover { outline-width: 10px; }

ul {
	width: 164px;
	margin: 0px;
	padding: 0px;
	display:table;
	height: 180px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

li {
	display:table-row;
	list-style-type: none;
}

#app-ul {
	width:200px;
	height: 180px;
}

#users {
	height: 180px;
	border:1px dotted black;
}

#user_list {
	float:left;
	height: 180px;
}

#fake_scroll_bar {
	position: relative;
	width:  34px;
	height: 100%;
	float: right;
	background: darkgrey;
}

.fsb_button {
	width: 34px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding:0px;
	margin:0px;
	right: 0;
	left: 0;
	position: absolute;
}

#sb_up {
	top: 0;
}

#sb_position {
	width: 34px;
	height: 20px;
	border: none;
	right: 0;
	left: 0;
	/* top: 25px; */
	position: absolute;
}

#sb_down {
	bottom: 0;
}
